

.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}


#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}

.container
{
    margin-left: 150px;
    
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}
.well {    background: #222222;
    color: #999999;
    border: none;
    padding: 0px;
    margin-left: 0px;}
.container{width: 100%; color:#999999;}
.container .row{padding: 5px 0;}
.container .row:nth-child(even) {background: #111111;}
.container .row:nth-child(odd) {background: #222222;}
.container .row:nth-child(even) a {color: #355cda;}
.container .row:nth-child(odd) a {color: #1e46c8;}

