#page-content-wrapper {
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: auto;
}

.sidebar_name {
    padding-top: 25px;
    color: #fff;
    opacity: .7;
}


#main_icon
{
    float:right;
   padding-right: 65px;
   padding-top:20px;
}

.content-header {
  height: 65px;
  line-height: 65px;
}

.content-header h1 {
  margin: 0;
  margin-left: 20px;
  line-height: 65px;
  display: inline-block;
}
